<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            <mimeMap fileExtension=".json" mimeType="text/json" />
        </staticContent>
        <httpRedirect enabled="false" destination="http://google.com" />
    </system.webServer>
    <location path="blog.html">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://sehomeseamonsters2605.wordpress.com/" exactDestination="true" />
        </system.webServer>
    </location>
</configuration>
